*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hello{
    background-color: red;
    color: yellow;
    width: 300px;
    height: 300px;
    padding: 50px 70px 50px 80px;
    margin:20px;
    border: 12px solid black;

}