td{
    border: 2px solid black;
}
thead{
    background-color: yellow;
}
tbody{
    background-color: gray;
}
tfoot{
    background-color: pink;
}
ul{
    color: green;
}
ol{
    color: blueviolet;
}